body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

@media(max-width: 768px) {

  .ham,
  .hamimg {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 25px;
    width: 25px;
    border: none;
    background: none;
  }

  .e3_main {
    height: 694px;
    width: 100%;
    top: 2px;
    display: flex;
    flex-direction: row;
    align-items: top;
    background-image: url(img/bg_e3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero {
    height: 472px;
    width: 100%;
    border-radius: 0px;
    margin: 100px 20px 0 20px;
  }

  .hello {
    height: 48px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 48px;
    color: #ec5242;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .description1 {
    height: max-content;
    width: 100%;
    color: #ec5242;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 21px;
  }

  .description2 {
    height: max-content;
    width: 100%;
    left: 104px;
    top: 437px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    background-color: #fff;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }

  .date {
    height: 72px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 900;
    line-height: 77px;
    text-align: left;
    color: #727272;
  }

  .location {
    height: max-content;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    color: #727272;
    margin: 0;
    padding: 0;
  }

  .MainProgram {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #272a31;
    background-image: url(img/pngkey\ 1.png);
    background-size: contain;
    margin: 0;
  }

  .Tittle_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 91px;
  }

  .M_tittle {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 43px;
    color: #fff;
    text-align: left;
    height: max-content;
    width: max-content;
    margin: 0;
    padding: 0;
  }

  .line {
    width: 90px;
    height: 0px;
    border: 2px solid #ec5242;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .schedule {
    list-style: none;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .Event {
    display: flex;
    flex-direction: row;
    height: 100px;
    background: rgba(121, 121, 121, 0.7);
    margin: 0 10px 10px 10px;
    align-items: center;
    justify-content: center;
  }

  #eElementc {
    display: flex;
    flex-direction: row;
  }

  .eElements {
    list-style: none;
    padding: 0;
  }

  .eElement {
    display: flex;
    flex-direction: row;
  }

  .etittle {
    height: 38px;
    width: max-content;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 38px;
    text-align: left;
    color: #cf493a;
  }

  .eElement1 .etittle::before {
    content: "Speakers";
    margin-left: 2px;
  }

  .eElement2 .etittle::before {
    content: "Speakers";
  }

  .eElement3 .etittle::before {
    content: "Speakers";
  }

  .eElement4 .etittle::before {
    content: "Speakers";
  }

  .eElement5 .etittle::before {
    content: "Speakers";
  }

  .edescription {
    height: 58px;
    width: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 29px;
    text-align: left;
    color: #fff;
    margin: 0;
  }

  .eElement1 .edescription::before {
    content: "Listen to the speakers of the best companies in the market.";
  }

  .eElement2 .edescription::before {
    content: "Discover the next games and consoles exclusively for e3!";
  }

  .eElement3 .edescription::before {
    content: "Do you like the new releases? Discuss your opinion with other gamers.";
  }

  .eElement4 .edescription::before {
    content: "Enjoy some new and classic video games.";
  }

  .eElement5 .edescription::before {
    content: "Listen to the speakers of the best companies in the market.";
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .e3button {
    height: 60px;
    width: 300px;
    border-radius: 20px;
    background-color: #ec5242;
    border-color: #cf493a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 48px;
    text-align: left;
    color: #fff;
    padding: 0;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 43px;
  }

  .eimg {
    height: 65px;
    width: 65px;
    margin-left: 13px;
    background-size: cover;
  }

  .eElement1 .eimg {
    background-image: url(img/Freepik1.png);
  }

  .eElement2 .eimg {
    background-image: url(img/EucalypPad.png);
  }

  .eElement3 .eimg {
    background-image: url(img/VectorsMarket.png);

  }

  .eElement4 .eimg {
    background-image: url(img/mangsaabguru.png);
  }

  .eElement5 .eimg {
    background-image: url(img/FlatIcons.png);
  }

  .speakers {
    height: 814px;
    width: 100%;
  }

  .spk1 {
    display: flex;
    flex-direction: row;
  }

  .photo_container {
    height: 160px;
    width: 180px;
    background-color: #cf493aaa;
    position: relative;
  }

  .chess {
    height: 100px;
    width: 100px;
    position: absolute;
  }

  .spk1img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 12px;
    top: 12px;
    border-radius: 135px;
  }

  .spkrdescription {
    display: flex;
    flex-direction: column;
  }

  #job{
    margin: 0 10px;
  }
}